@model webapplication2.Models.Pie;
<div class="wrapper">
    <form method="post">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Product Id</label>
            <input type="text" class="form-control" id="recipient-name" readonly placeholder="Product Name" asp-for="PieId">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Product Name</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Product Price" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Product Price</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Product Price" asp-for="Price" step=".01">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Long Description</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Product description" asp-for="LongDescription">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Short Description</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Product description" asp-for="ShortDescription">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label"> ImageUrl</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="ImageUrl" asp-for="ImageUrl">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label"> ImageThumbnailUrl</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="ImageThumbnailUrl" asp-for="ImageThumbnailUrl">
        </div>

        <div class="modal-footer">

            <button type="submit" class="btn btn-primary">Update Pie</button>
            <button type="submit" class="bg-danger border-none  text-white" asp-controller="Pie" asp-action="Delete" px-3 py-1">Delete Pie</button>
        </div>
    </form>
</div>